@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main_container {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.header {
    position: relative;
}

.header .main_img {
    width: 100%; 
    height: 830px;
}

.header:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0; left:0;
    background-color: rgba(0, 0, 0, 0.59);
}
nav {
    position: absolute;
    top:70px;
    left: 200px;   
    display: flex; 
}
.main_logo {
    padding: 40px;
}

ul {
    display: flex;
    list-style-type: none; 
}
nav li {  
    padding: 10px;
    margin: 10px;
    color:aliceblue;   
}
.green-btn {
    width: 150px;
    height: 55px;
    background: #07AF91;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 130px;
    color: #FFFFFF;
    font-size: 18px;
    border-style: none;

}
.main-container {
    position: relative;
}
h1 {
    position: absolute;
    top: 270px;
    left: 250px;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 60px; 
}
h1 span {
    background: #07AF91;
    border-radius: 3px;
    padding: 0 10px;
    line-height: 80px;
}
.main_container .main-text {
    position: absolute;
    top: 480px;
    left: 250px;
    font-size: 34px;
}

.blue-button {
    padding: 20px 30px;
    height: 70px;
    left: 250px;
    top: 600px;
    border: transparent;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
}
.main_container .blue-button {
    position: absolute;
}

.blue-button:hover {
    cursor: pointer;
    background: #016CA8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* block_2*/

.container {
    margin: 0 250px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}
.wrapper, .wrapper_2 {
    display: flex;
}
.wrapper_2 {
    margin-top: 120px;
}
h2 {
    margin: 60px 0;
    color: #1178B2;
    font-size: 36px;
    line-height: 80px;
}
h3 {
    color: #1178B2;
    font-size: 24px;
    line-height: 29px;
}
.analytic {
    margin-right: 40px;
}
.margin {
    margin-top: 150px;
}
.analytic_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px
}
.analytic_btn {
    background: #07AF91;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    width: 300px;
    height: 70px;
    font-size: 20px;
}
.rocket {
    margin: 50px 80px 0 40px;
}

/* block_3 */

.cub {
    width: 380px;
    text-align: center;
    padding: 0 10px 20px;
    margin: 0 12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.cub_number {
    font-weight: 800;
    font-size: 80px;
    line-height: 0px;
    color: rgba(17, 120, 178, 0.5);
}
.cub_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
/* block_4 */
.startup {
    width: 100%;
    height: 500px;
}
.issue .issue-header {
    position: absolute;
    top: 2760px;
    margin-left: -120px;
    background-color:#07AF91;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 36px;
    width: 80%;
    text-align: center;
}
.issue-text {
   position: absolute;
   top: 2900px;
   left: 180px;
   font-size: 22px;
}
.issue .blue-button {
    top: 3020px;
    left: 620px;
}

/* block_5 */
.market {
    margin-bottom: 50px;
    margin-left: -40px;   
}
.market_img {
    position: absolute;
    z-index: -1;   
}
.market li {
    font-size: 20px;
    width: 220px;
    text-align: center;
    padding: 22px 15px;
    background: #EEF1F4;
    border-right: 1px solid #CFDDEB;;
}
.market .market-east{
    background: #88BBD8;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
}
.market_mena {
    width: 60%;
    margin-right: 20px;
}
.market-header {
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
}
.market_mena span {
    color: #07AF91;
}
.market-text {
    font-size: 18px;
    line-height: 26px;
}
.blue-button {
    margin: 15px 0 25px;
}
.manager {
    display: flex;
}
.fatima-img {
    width: 62px;
    height: 62px;
    margin-right: 14px;
}
.manager .fatima-name {
    font-size: 16px;
    color: #10101080;
}
.quater {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;  
}
.quater .cub {
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
    background-color: #fff;   
}

.cub .small_cub {
    font-size: 44px;
    line-height: 20px;
    font-weight: 800;   
}
small {
    font-size: 20px;
}
.cub .cub_text {
    font-size: 16px;
    line-height: 20px;
    color: #10101080;
}
.quater .blue-cub {
    background-color: #1178B2;
   
}
.quater .blue-cub .cub_text {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.blue-cub-img {
    margin-top: 25px;
}

.blue-cub:hover {
    background: #07AF91;
    cursor: pointer;
}

/* block_6*/
.axel {
    width: 392px;
    height: 284px;
}
.axel-text {
    font-size: 20px;
    line-height: 30px;
    margin-left: 14px;
}
.axel_img {
    margin-top: 80px;
}

.black_bg {
    position: relative;
    height: 645px;
    width: 1000px;
    margin-left: 12px;
}
.video-text {
    position: absolute;
    top: 4735px;
    left: 600px;
    color:#fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;

}
.play_btn {
    position: absolute;
    left: 710px;
    top: 4850px;
}